torch
datasets
transformers
pandas
scikit-learn
tqdm
sentencepiece
numpy 
requests 
nlpaug
statsmodels
seaborn
spacy
nltk
stanza
openai
pytorch-lightning
evaluate
optuna
iterative-stratification
statsmodels
torchmetrics
langchain
revChatGPT
tiktoken
accelerate
thefuzz
bitsandbytes
pygamma_agreement
llama-cpp-python
# llama-cpp-python: python -m pip install llama-cpp-python --prefer-binary --extra-index-url=https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu122
protobuf==3.20.0
einops
transformers