torch
datasets
transformers
pandas
scikit-learn
tqdm
nltk
openai
langchain
# pygamma_agreement
llama-cpp-python
# llama-cpp-python: python -m pip install llama-cpp-python --prefer-binary --extra-index-url=https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu122
#protobuf==3.20.0
einops
thefuzz
matplotlib
nltk
pandas